---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.astro';
import BlogPreviews from '../components/BlogPreviews.astro';
---

<Layout title="Ignacio Gonzalez Secadas — Portfolio">
  <main>
    <Hero />

    <About />
    <Skills />

    <Projects />

    <BlogPreviews />

    <Footer />
  </main>
</Layout>
